.newBtn, .secondBtn, .thirtyBtn {
  position: fixed;
  top: 20px;
  right: 300px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.secondBtn {
  background: violet;
  color: #cecece;
  right: 400px;
}

.thirtyBtn {
  background: green;
  color: #cecece;
  right: 200px;
}

.newBtn:hover, .secondBtn:hover {
  background: #fff;
  color: #000;
  box-shadow: 1px 1px 10px #000;
  transition: all .3s ease;
}

body {
  margin: 0;
}

body.noScroll {
  height: 100%;
  overflow-y: hidden;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(4px) !important;
  z-index: 1;
  opacity: 0;
  transition: all .3s ease;
  pointer-events: none;
  
}

.overlay.active {
  opacity: 1;
  height: 100%;
   overflow: hidden;
  pointer-events: auto;
}

.mainCard {
  display: none;
  position: fixed;
  background-image: url(game/img/cactus-game.png);
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 20px 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: linear-gradient(180deg, #FAFAFA 0%, #EDEDED 100%);
  border-radius: 5px;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}

.mainCard.explode-animation {
  animation: explode .6s forwards;
  transform-origin: center;
  pointer-events: auto;
  display: block;
}

.mainCard-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ABbtnContainer {
  margin-top: 15px;
}

.mainInput {
  height: 30px;
  margin-right: 5px;
  border: none;
  padding: 2px 7px;
  border-radius: 5px;
  font-size: 14px;
  border: 2px solid #cecece;
  transition: box-shadow 0.3s ease;
}

.mainInput:focus {
  box-shadow: 0 0 0 4px rgba(206, 206, 206, 0.3);
  outline: none;
}

.spanAlertText {
  display: none;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  color: rgb(230, 11, 11);
  bottom: 6px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
}

.spanAlertText.show {
  display: block;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.saveNameBlock {
  display: none;
  flex-direction: column;
  margin-top: 20px;
  max-height: 300px;
  overflow-y: scroll;
}

.saveNameData {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  position: relative;
}

.saveNameData::after {
  content: '';
  position: absolute;
  top: 20px;
  width: 80%;
  height: 2px;
  background: green;
  color: green;
}

.saveNameText {
  min-width: 120px;
}

.closeBtn {
  position: absolute;
  top: -17px;
  right: -2px;
  border: 1px solid rgb(255, 65, 65);
  background: rgb(255, 65, 65);
  color: #fff;
  cursor: pointer;
}

.closeBtn:hover {
  background: #fff;
  color: #000;
  transition: all .2s ease;
}

.informationBlock {
  margin-top: 20px;
  text-align: center;
}

.solvingUserText, .campaignIdText, .subjectText {
  font-size: 16px;
  font-weight: bold;
}

.campaignIdText {
  font-size: 18px;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 20px;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

.Btn:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 5px;
}
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 5px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}

/* Style for start button */

.abBtn{
  font-size: 14px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #95e098 0%, #328a35 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  margin-left: 15px;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.abBtn:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #328a35;
  transform: translateY(-0.1em);
}

.abBtn:active {
  box-shadow: inset 0px 0.1em 0.6em #328a35;
  transform: translateY(0em);
}

/* Style Animation */

.mainCard.implode-animation {
  animation: implode 0.6s forwards;
  transform-origin: center;
}
        
@keyframes implode {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

@keyframes explode {
  0% {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

/* Loader */

.loaderBlock {
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.loaderText {
  font-size: 17px;
  margin-left: 15px;
  margin-top: 15px;
}

.loaderEye {
  width: 48px;
  height: 48px;
  border: 3px solid #141414;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loaderEye::after {
  content: '';  
  position: absolute;
  box-sizing: border-box;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #141414;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.getCampaignId {
  --bezier: cubic-bezier(0.22, 0.61, 0.36, 1);
  --edge-light: hsla(0, 0%, 50%, 0.8);
  --text-light: rgba(255, 255, 255, 0.4);
  --back-color: 240, 40%;

  cursor: pointer;
  padding: 0.7em 1em;
  border-radius: 0.5em;
  min-height: 2.4em;
  min-width: 3em;
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 0.5em;

  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1;
  font-weight: bold;

  background: linear-gradient(
    140deg,
    hsla(var(--back-color), 50%, 1) min(2em, 20%),
    hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
  );
  color: hsla(0, 0%, 90%);
  border: 0;
  box-shadow: inset 0.4px 1px 4px var(--edge-light);

  transition: all 0.1s var(--bezier);
}

.getCampaignId:hover {
  --edge-light: hsla(0, 0%, 50%, 1);
  text-shadow: 0px 0px 10px var(--text-light);
  box-shadow: inset 0.4px 1px 4px var(--edge-light),
    2px 4px 8px hsla(0, 0%, 0%, 0.295);
  transform: scale(1.1);
}

.getCampaignId:active {
  --text-light: rgba(255, 255, 255, 1);

  background: linear-gradient(
    140deg,
    hsla(var(--back-color), 50%, 1) min(2em, 20%),
    hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
  );
  box-shadow: inset 0.4px 1px 8px var(--edge-light),
    0px 0px 8px hsla(var(--back-color), 50%, 0.6);
  text-shadow: 0px 0px 20px var(--text-light);
  color: hsla(0, 0%, 100%, 1);
  letter-spacing: 0.1em;
  transform: scale(1);
}

.closeGame {
  position: absolute;
  width: 100px;
  top: 13px;
  left: 50%;
  padding: 5px;
  color: #fff;
  background: rgb(190, 16, 16);
  border: 1px solid rgb(190, 16, 16);;
  transform: translateX(-50%);
  transition: all .3s ease;
  border-radius: 3px;
}

.closeGame:hover {
  background: #fff;
  color: #333;

}

.openGame{
  width: 70px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0px 15px;
  background-color: #328a35;
  border-radius: 5px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 900;
  transition-duration: .2s;
}

.game path {
  color: white;
}

.openGame.arrow {
  position: absolute;
  right: 0;
  padding: 0px 5px;
  width: 30px;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.openGame:hover,
.openGame:focus {
  background-color: #1e9e22;
  transition-duration: .2s;
}

.openGame:hover .arrow {
  animation: slide-right .6s ease-out both;
}

@keyframes slide-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.openGame:active {
  transform: translate(1px , 1px);
  transition-duration: .2s;
}

/* GAME ====================== */

.openGame {
  position: absolute;
  left: 0;
  top: 0;
}

.game-block {
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  height: 220px;
  right: 170px;
  background: #fff;
  z-index: 999;
  overflow: hidden;
  /* position: relative; */
}

.game-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid green;
  border-bottom: none;
}

.game-wrapper:after {
  width: 100%;
  height: 1px;
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  border: 1.5px dashed #333;
}

.cactus1, .cactus2 {
  position: absolute;
  width: 80px; 
  height: 6dvb; 
  background-repeat: no-repeat;
  background-size: contain;
  /* animation: cactus 2s linear infinite; */
  z-index: 999;
}

.cactus1 {
  bottom: 10px;
  right: 20px;
  animation: cactus1 2s linear infinite;
}

.cactus2 {
  bottom: 10px;
  right: 140px;
  z-index: 700;
}

.dinosaur {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 999;
}

.dinosaur.animDino {
  animation: dinosaur .8s linear infinite;
}

.closeGame {
  position: absolute;
  right: 0;
  top: 9;
}

.gameRoad {
  width: 100%;
  height: 2px;
  background: #333;
  position: absolute;
  bottom: 40px;
}

.gameOver-text {
  display: none;
  font-size: 30px;
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.score-block {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.score, .hiScore {
  font-size: 20px;
  color: #000;
}

.clouds-game1, .clouds-game2, .clouds-game3 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  animation: clouds 10s linear infinite;
}

.clouds-game1 {
  top: 70px;
}

.clouds-game2 {
  top: 40px;
  left: 180px;
  animation-duration: 15s;
}

.clouds-game3 {
  top: 90px;
  left: 360px;
  animation-duration: 19s;
}

@keyframes clouds {
  0% {
    left: 730px;
  }
  100% {
    left: -100px;
  }
}

@keyframes cactus1 {
  0% {
    left: 730px;
  }

  100% {
    left: -30px;
  }
}


@keyframes cactus2 {
  0% {
    left: 730px;
  }

  100% {
    left: -30px;
  }
}

@keyframes dinosaur {
  0% {
    bottom: 0px;
  }
  30% {
    bottom: 100px;
  }
  70%{
    bottom: 100px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes runDino {
  from { background-position: 0 0; }
  to   { background-position: -120px 0; }
}




    

